{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "browser": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "commonjs": true
  },
  "globals": {
    "seajs": false,
    "process": false,
    "window": false
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 120,
        "trailingComma": "all",
        "jsxSingleQuote": true
      },
      {
        "usePrettierrc": false
      }
    ],
    "react/prop-types": 0,
    "react/display-name": 0,
    "react/no-unescaped-entities": 0,
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-return-await": "error",
    "no-empty-function": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false
      }
    ],
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-this-alias": [
      "error",
      {
        "allowedNames": [
          "self",
          "duck"
        ]
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": false,
        "variables": false
      }
    ]
  }
}
