@charset "utf-8";
._tsf-chain {
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none
}

._tsf-chain ._tsf-chain-list {
  overflow: auto
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd {
  box-sizing: border-box;
  color: #888;
  font-weight: 700;
  white-space: nowrap
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd.large li.middle-col {
  width: calc(66% - 260px);
  padding: 0
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd.large li.middle-col .middle-col-ul {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd.large li.middle-col .middle-col-ul > li {
  display: table-cell;
  padding: 0 20px;
  box-sizing: border-box
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li {
  display: inline-block;
  line-height: 45px;
  padding: 0 20px;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:first-child {
  width: 260px;
  padding-left: 36px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:first-child ._tsf-icon-move {
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:first-child ._tsf-icon-move ._tsf-bubble {
  position: absolute;
  padding: 0 12px;
  left: -10px;
  height: 30px;
  line-height: 30px;
  background: #4f9afa;
  z-index: 3;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child {
  width: 34%;
  padding-left: 4px;
  padding-right: 125px
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span {
  display: inline-block;
  width: 33.3%
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:first-child {
  position: relative
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:first-child:before {
  content: "";
  position: absolute;
  width: 1px;
  border-left: 1px dashed #ddd;
  height: 20px;
  bottom: 0;
  left: 10px
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:nth-of-type(2) {
  text-align: center;
  position: relative
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:nth-of-type(2):before {
  content: "";
  position: absolute;
  width: 1px;
  border-left: 1px dashed #ddd;
  height: 20px;
  bottom: 0;
  left: calc(50% - 1px)
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:last-child {
  text-align: right;
  position: relative
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child span:last-child:before {
  content: "";
  position: absolute;
  width: 1px;
  border-left: 1px dashed #ddd;
  height: 20px;
  bottom: 0;
  right: 10px
}

._tsf-chain ._tsf-chain-list .menu-tabel-hd > li:last-child {
  border-left: 1px solid #ddd
}

._tsf-chain ._tsf-chain-list dl dd .tree-li {
  width: 540px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub > li {
  position: relative
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub > li:before {
  content: "";
  position: absolute;
  height: 100%;
  top: -20px;
  border-left: 2px dashed #ddd
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub > li:last-child:before {
  content: "";
  height: 40px;
  top: -17px;
  border-left: 2px dashed #ddd
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-2 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-2 > li:last-child:before {
  left: 28px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-3 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-3 > li:last-child:before {
  left: 56px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-4 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-4 > li:last-child:before {
  left: 84px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-5 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-5 > li:last-child:before {
  left: 112px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-6 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-6 > li:last-child:before {
  left: 140px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-7 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-7 > li:last-child:before {
  left: 168px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-8 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-8 > li:last-child:before {
  left: 196px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-9 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-9 > li:last-child:before {
  left: 224px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-10 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-10 > li:last-child:before {
  left: 252px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-11 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-11 > li:last-child:before {
  left: 280px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-12 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-12 > li:last-child:before {
  left: 308px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-13 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-13 > li:last-child:before {
  left: 336px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-14 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-14 > li:last-child:before {
  left: 364px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-15 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-15 > li:last-child:before {
  left: 392px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-16 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-16 > li:last-child:before {
  left: 420px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-17 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-17 > li:last-child:before {
  left: 448px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-18 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-18 > li:last-child:before {
  left: 476px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-19 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-19 > li:last-child:before {
  left: 504px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-20 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-20 > li:last-child:before {
  left: 532px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-21 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-21 > li:last-child:before {
  left: 560px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-22 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-22 > li:last-child:before {
  left: 588px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-23 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-23 > li:last-child:before {
  left: 616px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-24 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-24 > li:last-child:before {
  left: 644px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-25 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-25 > li:last-child:before {
  left: 672px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-26 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-26 > li:last-child:before {
  left: 700px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-27 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-27 > li:last-child:before {
  left: 728px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-28 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-28 > li:last-child:before {
  left: 756px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-29 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-29 > li:last-child:before {
  left: 784px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-30 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-30 > li:last-child:before {
  left: 812px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-31 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-31 > li:last-child:before {
  left: 840px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-32 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-32 > li:last-child:before {
  left: 868px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-33 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-33 > li:last-child:before {
  left: 896px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-34 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-34 > li:last-child:before {
  left: 924px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-35 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-35 > li:last-child:before {
  left: 952px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-36 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-36 > li:last-child:before {
  left: 980px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-37 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-37 > li:last-child:before {
  left: 1008px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-38 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-38 > li:last-child:before {
  left: 1036px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-39 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-39 > li:last-child:before {
  left: 1064px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-40 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-40 > li:last-child:before {
  left: 1092px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-41 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-41 > li:last-child:before {
  left: 1120px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-42 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-42 > li:last-child:before {
  left: 1148px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-43 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-43 > li:last-child:before {
  left: 1176px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-44 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-44 > li:last-child:before {
  left: 1204px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-45 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-45 > li:last-child:before {
  left: 1232px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-46 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-46 > li:last-child:before {
  left: 1260px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-47 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-47 > li:last-child:before {
  left: 1288px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-48 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-48 > li:last-child:before {
  left: 1316px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-49 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-49 > li:last-child:before {
  left: 1344px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-50 > li:before, ._tsf-chain ._tsf-chain-list dl dd.selected .menu-sub-50 > li:last-child:before {
  left: 1372px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li {
  position: relative
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv2 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv2 > div {
  position: relative;
  padding-left: 48px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv2 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 28px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv3 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv3 > div {
  position: relative;
  padding-left: 76px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv3 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 56px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv4 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv4 > div {
  position: relative;
  padding-left: 104px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv4 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 84px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv5 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv5 > div {
  position: relative;
  padding-left: 132px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv5 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 112px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv6 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv6 > div {
  position: relative;
  padding-left: 160px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv6 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 140px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv7 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv7 > div {
  position: relative;
  padding-left: 188px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv7 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 168px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv8 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv8 > div {
  position: relative;
  padding-left: 216px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv8 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 196px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv9 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv9 > div {
  position: relative;
  padding-left: 244px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv9 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 224px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv10 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv10 > div {
  position: relative;
  padding-left: 272px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv10 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 252px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv11 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv11 > div {
  position: relative;
  padding-left: 300px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv11 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 280px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv12 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv12 > div {
  position: relative;
  padding-left: 328px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv12 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 308px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv13 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv13 > div {
  position: relative;
  padding-left: 356px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv13 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 336px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv14 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv14 > div {
  position: relative;
  padding-left: 384px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv14 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 364px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv15 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv15 > div {
  position: relative;
  padding-left: 412px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv15 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 392px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv16 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv16 > div {
  position: relative;
  padding-left: 440px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv16 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 420px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv17 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv17 > div {
  position: relative;
  padding-left: 468px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv17 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 448px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv18 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv18 > div {
  position: relative;
  padding-left: 496px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv18 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 476px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv19 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv19 > div {
  position: relative;
  padding-left: 524px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv19 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 504px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv20 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv20 > div {
  position: relative;
  padding-left: 552px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv20 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 532px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv21 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv21 > div {
  position: relative;
  padding-left: 580px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv21 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 560px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv22 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv22 > div {
  position: relative;
  padding-left: 608px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv22 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 588px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv23 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv23 > div {
  position: relative;
  padding-left: 636px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv23 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 616px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv24 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv24 > div {
  position: relative;
  padding-left: 664px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv24 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 644px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv25 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv25 > div {
  position: relative;
  padding-left: 692px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv25 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 672px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv26 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv26 > div {
  position: relative;
  padding-left: 720px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv26 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 700px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv27 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv27 > div {
  position: relative;
  padding-left: 748px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv27 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 728px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv28 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv28 > div {
  position: relative;
  padding-left: 776px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv28 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 756px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv29 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv29 > div {
  position: relative;
  padding-left: 804px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv29 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 784px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv30 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv30 > div {
  position: relative;
  padding-left: 832px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv30 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 812px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv31 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv31 > div {
  position: relative;
  padding-left: 860px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv31 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 840px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv32 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv32 > div {
  position: relative;
  padding-left: 888px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv32 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 868px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv33 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv33 > div {
  position: relative;
  padding-left: 916px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv33 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 896px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv34 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv34 > div {
  position: relative;
  padding-left: 944px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv34 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 924px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv35 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv35 > div {
  position: relative;
  padding-left: 972px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv35 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 952px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv36 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv36 > div {
  position: relative;
  padding-left: 1000px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv36 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 980px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv37 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv37 > div {
  position: relative;
  padding-left: 1028px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv37 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1008px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv38 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv38 > div {
  position: relative;
  padding-left: 1056px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv38 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1036px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv39 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv39 > div {
  position: relative;
  padding-left: 1084px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv39 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1064px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv40 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv40 > div {
  position: relative;
  padding-left: 1112px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv40 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1092px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv41 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv41 > div {
  position: relative;
  padding-left: 1140px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv41 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1120px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv42 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv42 > div {
  position: relative;
  padding-left: 1168px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv42 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1148px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv43 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv43 > div {
  position: relative;
  padding-left: 1196px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv43 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1176px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv44 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv44 > div {
  position: relative;
  padding-left: 1224px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv44 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1204px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv45 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv45 > div {
  position: relative;
  padding-left: 1252px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv45 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1232px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv46 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv46 > div {
  position: relative;
  padding-left: 1280px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv46 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1260px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv47 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv47 > div {
  position: relative;
  padding-left: 1308px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv47 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1288px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv48 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv48 > div {
  position: relative;
  padding-left: 1336px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv48 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1316px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv49 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv49 > div {
  position: relative;
  padding-left: 1364px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv49 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1344px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv50 {
  padding: 0;
  position: relative;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv50 > div {
  position: relative;
  padding-left: 1392px;
  padding-right: 10px
}

._tsf-chain ._tsf-chain-list dl dd.selected .menu-tabel-info .tree-li.li-lv50 > div:before {
  content: "";
  position: absolute;
  width: 20px;
  border-bottom: 2px dashed #ddd;
  left: 1372px;
  top: 22px
}

._tsf-chain ._tsf-chain-list dl dd .menu-item {
  line-height: 45px;
  display: block;
  white-space: nowrap;
  min-width: 100%;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  text-decoration: none
}

._tsf-chain ._tsf-chain-list dl dd .menu-item ._tsf-zhan {
  width: 16px;
  display: inline-block
}

._tsf-chain ._tsf-chain-list dl dd .menu-item ._tsf-zhan:before {
  display: none
}

._tsf-chain ._tsf-chain-list dl dd .menu-item ._tsf-icon {
  padding: 0;
  min-width: 16px;
  height: 16px;
  line-height: 16px
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info {
  color: #333;
  table-layout: fixed
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info .tree-li > div {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info .tree-li > div span {
  -webkit-box-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col {
  width: calc(66% - 260px);
  padding: 0
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col .middle-col-ul {
  width: 100%;
  height: 100%;
  display: table;
  table-layout: fixed
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col .middle-col-ul ._tsf-function-name p {
  line-height: 20px
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col .middle-col-ul ._tsf-function-name a {
  line-height: 20px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col .middle-col-ul > li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info.large li.middle-col .middle-col-ul > li > p {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  line-height: 20px
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li {
  height: 44px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0 20px
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li ._tsf-progress {
  width: 0;
  height: 30px;
  margin-top: 7px;
  position: relative;
  z-index: 2
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li ._tsf-progress.is-blue {
  background: #4f9afa
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li ._tsf-progress.is-danger {
  background: #e54545
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li ._tsf-progress.is-warning {
  background: #ff9d00
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li ._tsf-progress-num {
  right: -110px;
  line-height: 20px;
  color: #888;
  position: absolute;
  margin-left: 10px;
  top: 5px;
  width: 100px
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:first-child {
  width: 260px;
  height: 45px;
  border-right: 1px solid #ddd;
  box-sizing: border-box
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child {
  width: 34%;
  position: relative;
  padding-left: 14px;
  padding-right: 136px;
  box-sizing: border-box
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child ._tsf-line {
  position: absolute;
  width: 1px;
  height: 45px;
  left: calc((100% - 150px) / 3 + 8px);
  width: calc((100% - 129px) / 3 + 4px)
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child ._tsf-line:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-left: 1px dashed #ddd;
  top: 0;
  left: 50%
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child:before {
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  left: 14px;
  border-left: 1px dashed #ddd;
  position: absolute
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child:after {
  content: "";
  width: 1px;
  height: 100%;
  top: 0;
  right: 135px;
  border-left: 1px dashed #ddd;
  position: absolute
}

._tsf-chain ._tsf-chain-list dl dd .menu-tabel-info > li:last-child {
  border-left: 1px solid #ddd
}

._tsf-chain.rid-step ._tsf-chain-list .menu-tabel-hd.large > li:last-child {
  display: none
}

._tsf-chain.rid-step ._tsf-chain-list .menu-tabel-hd.large > li.middle-col {
  width: calc(100% - 260px)
}

._tsf-chain.rid-step ._tsf-chain-list dl dd .menu-tabel-info.large > li:last-child {
  display: none
}

._tsf-chain.rid-step ._tsf-chain-list dl dd .menu-tabel-info.large > li.middle-col {
  width: calc(100% - 260px)
}

._tsf-chain.rid-line-end ._tsf-chain-list .menu-tabel-hd li:last-child {
  display: table-cell;
  width: auto;
  padding-left: 0;
  padding-right: 0
}

._tsf-chain.rid-line-end ._tsf-chain-list .menu-tabel-hd li:last-child span:first-child:before, ._tsf-chain.rid-line-end ._tsf-chain-list .menu-tabel-hd li:last-child span:last-child:before, ._tsf-chain.rid-line-end ._tsf-chain-list .menu-tabel-hd li:last-child span:nth-of-type(2):before {
  display: none
}

._tsf-chain.rid-line-end ._tsf-chain-list .menu-tabel-hd li:last-child {
  border-left: none
}

._tsf-chain.rid-line-end ._tsf-chain-list dl dd .menu-tabel-info li:last-child {
  border-left: none;
  display: table-cell;
  width: auto;
  padding-left: 0;
  padding-right: 0
}

._tsf-chain.rid-line-end ._tsf-chain-list dl dd .menu-tabel-info li:last-child ._tsf-line:before, ._tsf-chain.rid-line-end ._tsf-chain-list dl dd .menu-tabel-info li:last-child:after, ._tsf-chain.rid-line-end ._tsf-chain-list dl dd .menu-tabel-info li:last-child:before {
  display: none
}

._tsf-tag--zoom-out {
  -webkit-transform: scale(.7);
  transform: scale(.7);
  margin: 0
}

.guide-lines-fn {
  text-align: left
}

.guide-lines-fn .num-icon {
  width: 23px;
  height: 23px;
  line-height: 20px;
  box-sizing: border-box;
  border: 1px solid #73777b;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #73777b;
  position: absolute;
  left: -12px;
  top: -2px;
  background-color: #fff
}

.guide-lines-fn li {
  position: relative;
  padding-bottom: 30px
}

.guide-lines-fn li:last-child {
  border-left: none
}

.guide-lines-fn .text-weak {
  font-size: 12px
}

.guide-lines-fn code {
  position: relative;
  background-color: #f5f5f5;
  padding: 8px 57px 8px 10px;
  display: inline-block;
  border-left: 10px solid #d1e7f7;
  margin: 10px 0;
  color: #666;
  font-family: microsoft yahe
}

.guide-lines-fn .copy-btn {
  font-size: 12px;
  text-align: center;
  color: #2177d9;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e1e1e1;
  padding: 8px 5px
}

._tsf-call-chain tr td:last-child, ._tsf-call-chain tr th:last-child {
  border-left: 1px solid #e5e5e5
}

._tsf-time-line-wrap {
  margin: 0;
  position: relative
}

._tsf-time-line-wrap .tea-grid__item-18 {
  padding: 0;
  position: relative
}

._tsf-time-line-wrap .tea-grid__item-18:before {
  content: "";
  position: absolute;
  left: 0;
  top: -14px;
  bottom: -14px;
  width: 1px;
  background-color: #e5e5e5
}

._tsf-time-line-wrap .tea-grid__item-18:after {
  content: "";
  position: absolute;
  right: 0;
  top: -14px;
  bottom: -14px;
  width: 1px;
  background-color: #e5e5e5
}

._tsf-time-line-wrap ._tsf-time-line-wrap__center-line {
  position: absolute;
  width: 1px;
  top: -14px;
  bottom: -14px;
  left: 50%;
  background-color: #e5e5e5
}

._tsf-time-line__block {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  position: relative
}

._tsf-time-line__block.is-blue {
  background-color: #006eff
}

._tsf-time-line__block.is-danger {
  background-color: #e54545
}

._tsf-time-line__text {
  display: inline-block;
  width: 100px;
  line-height: 20px;
  margin-left: 4px;
  color: #888;
  position: absolute;
  top: 0;
  right: -104px
}

._tsf-version-box__header {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
  position: relative
}

._tsf-version-box .tea-list--option {
  position: relative
}

._tsf-version-box .tea-list--option ._tsf-list__oprate {
  padding: 6px 10px;
  position: absolute;
  right: 0;
  top: 0;
  visibility: hidden
}

._tsf-version-box .tea-list--option ._tsf-list__oprate .tea-btn {
  margin-left: 8px
}

._tsf-version-box .tea-list--option li {
  position: relative
}

._tsf-version-box .tea-list--option li:hover ._tsf-list__oprate {
  visibility: visible
}

._tsf-version-box .tea-grid__item-18 ._tsf-version-box__header {
  background-color: #f2f2f2;
  margin-left: 1px
}

._tsf-version-box .tea-grid__item-18 ._tsf-version-box__header .tea-grid {
  margin: 0
}

._tsf-version-box .tea-grid__item-18 ._tsf-version-box__header .tea-grid__item {
  padding-top: 0;
  padding-bottom: 0
}

._tsf-code-area {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace
}

._tsf-badge--block.tea-badge {
  width: 10px;
  height: 10px;
  border-radius: 0
}

._tsf-code-compared {
  border: 1px solid #ddd;
  height: 100%;
  padding: 0;
  margin: 0
}

._tsf-code-compared .tea-grid__item-12 {
  padding: 0
}

._tsf-code-compared .tea-grid__item-12:first-child {
  border-right: 1px solid #ddd
}

._tsf-notice-item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: flex;
  cursor: pointer
}

._tsf-notice-item:last-child {
  margin-bottom: 0
}

._tsf-notice-item__calendar {
  -webkit-box-flex: 0;
  flex: 0 0 34px;
  margin-right: 8px;
  color: #8b9db6;
  text-align: center;
  font-size: 0
}

._tsf-notice-item__mounth {
  display: block;
  width: 100%;
  line-height: 16px;
  background: #f3f6fb;
  font-size: 12px;
  margin-bottom: 2px
}

._tsf-notice-item__day {
  display: block;
  width: 100%;
  line-height: 20px;
  background-color: #f3f6fb;
  font-size: 18px
}

._tsf-notice-item .tea-tag {
  margin: 0;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  vertical-align: middle
}

._tsf-notice-item:hover {
  cursor: pointer
}

._tsf-notice-item:hover ._tsf-notice-item__content {
  color: #006eff
}

._tsf-media-object .tea-media__left {
  -webkit-box-flex: 0;
  flex: 0 0 120px
}

._tsf-media-object .tea-media__left img {
  max-width: 100%
}

._tsf-media-object .tea-h4, ._tsf-media-object h4 {
  font-weight: 400
}

._tsf-media-object .tea-h4 a, ._tsf-media-object h4 a {
  color: #333
}

._tsf-media-object .tea-h4 a:hover, ._tsf-media-object h4 a:hover {
  color: #006eff;
  text-decoration: none
}

._tsf-media-object__content {
  color: #888;
  line-height: 20px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical
}

._tsf-media-object .tea-media:hover {
  cursor: pointer
}

._tsf-media-object .tea-media:hover h4 a {
  color: #006eff
}

._tsf-stage {
  width: 100%
}

._tsf-stage-header {
  height: 36px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between
}

._tsf-stage-header > div {
  width: calc((100% - 8px) / 2);
  height: 100%;
  background: #efefef;
  font-size: 12px;
  color: #444;
  text-align: center;
  line-height: 36px
}

._tsf-stage-body {
  width: 100%
}

._tsf-stage-body.client-shadow {
  position: relative
}

._tsf-stage-body.client-shadow:before {
  content: "";
  position: absolute;
  width: calc(100% - 144px);
  height: 100%;
  top: 0;
  left: 0;
  background: hsla(0, 0%, 100%, .6);
  z-index: 3
}

._tsf-stage-body.client-shadow .num, ._tsf-stage-body.client-shadow .status {
  display: none
}

._tsf-stage-body.server-shadow {
  position: relative
}

._tsf-stage-body.server-shadow:before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% - 144px);
  top: 0;
  right: 0;
  background: hsla(0, 0%, 100%, .6);
  z-index: 3
}

._tsf-stage-body.server-shadow .num, ._tsf-stage-body.server-shadow .status {
  display: none
}

._tsf-stage-body-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  padding-top: 56px;
  padding-bottom: 12px;
  position: relative
}

._tsf-stage-body-item:first-of-type {
  padding-top: 30px
}

._tsf-stage-body-item:first-of-type .total-num {
  display: none
}

._tsf-stage-body-item .total-num {
  width: 7px;
  height: 44px;
  border: 1px solid #9bb3e6;
  border-left: none;
  position: absolute;
  top: 0;
  right: 126px
}

._tsf-stage-body-item .total-num:before {
  content: "";
  width: 7px;
  height: 1px;
  background: #9bb3e6;
  right: -7px
}

._tsf-stage-body-item .total-num:before, ._tsf-stage-body-item .total-num > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

._tsf-stage-body-item .total-num > span {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  left: 17px;
  width: 100px
}

._tsf-stage-body-item:before {
  left: 144px
}

._tsf-stage-body-item:after, ._tsf-stage-body-item:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e2e2e2;
  top: 0
}

._tsf-stage-body-item:after {
  right: 144px
}

._tsf-stage-body-item__sides {
  width: 144px;
  font-size: 12px;
  color: #444
}

._tsf-stage-body-item__sides p {
  line-height: 18px
}

._tsf-stage-body-item__sides:last-of-type {
  padding-left: 10px;
  box-sizing: border-box
}

._tsf-stage-body-item__sides .time {
  background: #9bb3e6;
  padding: 2px 6px;
  display: inline-block;
  color: #fff
}

._tsf-stage-body-item__middle {
  -webkit-box-flex: 1;
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 0;
  align-self: center;
  clear: both;
  position: relative
}

._tsf-stage-body-item__middle .num {
  bottom: 8px;
  font-weight: 600
}

._tsf-stage-body-item__middle .num, ._tsf-stage-body-item__middle .status {
  display: inline-block;
  font-size: 12px;
  color: #000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

._tsf-stage-body-item__middle .status {
  line-height: 20px;
  bottom: -28px
}

._tsf-stage-body-item__middle .slice {
  width: calc(100% - 20px);
  height: 2px;
  background: #9bb3e6;
  position: relative
}

._tsf-stage-body-item__middle .slice.is-error {
  background: #e54545
}

._tsf-stage-body-item__middle .slice.is-error.to-client .arrow {
  border-right-color: #e54545
}

._tsf-stage-body-item__middle .slice.is-error.to-server .arrow {
  border-left-color: #e54545
}

._tsf-stage-body-item__middle .to-client {
  float: right
}

._tsf-stage-body-item__middle .to-client .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right: 16px solid #9bb3e6;
  top: -9px;
  left: -11px
}

._tsf-stage-body-item__middle .to-server {
  float: left
}

._tsf-stage-body-item__middle .to-server .arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 16px solid #9bb3e6;
  top: -9px;
  right: -11px
}

#WEBPACK {
  content: "v_yn202103251239563410"
}